<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu chính -->
        <menuitem id="menu_root" name="QLKH" sequence="0"/>

        <!-- Dropdown Khách hàng -->
        <menuitem id="menu_khach_hang_group" name="Khách hàng" parent="menu_root" sequence="1"/>
        <menuitem id="menu_thong_tin_khach_hang" name="Thông tin khách hàng" parent="menu_khach_hang_group" action="action_thong_tin_khach_hang"/>
        <menuitem id="menu_ho_tro_khach_hang" name="Hỗ trợ khách hàng" parent="menu_khach_hang_group" action="action_ho_tro_khach_hang"/>

        <!-- Dropdown Đơn hàng -->
        <menuitem id="menu_don_hang_group" name="Đơn hàng" parent="menu_root" sequence="3"/>
        <menuitem id="menu_chi_tiet_don_hang" name="Chi tiết đơn hàng" parent="menu_don_hang_group" action="action_order_detail"/>
        <menuitem id="menu_chi_tiet_san_pham" name="Chi tiết sản phẩm" parent="menu_don_hang_group" action="action_product_detail"/>

    </data>
</odoo>
